{{> headerRes }}
     <div id="restaurantInfomaton">
        <form class="resimgform" enctype="multipart/form-data" action="/res/imageupload" method="post">
             <div class="resurantImage">
                <h4> Restaurant Image </h4>
            </div> 
            <div class="rescontainer">
                <div id="currentImage" style="background-image: url({{restaurantImageLink}}); border:none">
                <input id="resfile" accept="image/*" type="file" name="file"/>
            </div>
            <button type="submit">Confirm Upload</button>
        </div>
    </form>   
     <form class="resInfo"  action="/res/info" method="post">
        <div class="resMainInfo">
            <h4>Restaurant Info</h4>
            <div class="resurantName">
                <strong>Restaurant Name: </strong>
                <input type="text" name="name" placeholder="{{restaurantName}}"/>
            </div>
            <div class="restaurantAddress">
                <strong>Address: </strong>
                <input type="text" name="address" placeholder="{{restaurantAddress}}"/>
            </div>
            <div class="phone">
                <strong>Phone: </strong>
                <input type="number" name="phone" placeholder="{{restaurantPhone}}"/>
            </div>
            <div class="restaurantType">
                <strong>Type: </strong>
		        <select name="type">
                    {{#if ischineseFood}} 
                        <option value ="chineseFood">Chinese Food</option>
                        <option value ="seaFoodSteak">Sea Food & Steak</option>
                        <option value="dessert">Dessert</option>
                    {{ else }}
                        {{#if isdessert }} 
                            <option value="dessert">Dessert</option>
                            <option value ="chineseFood">Chinese Food</option>
                            <option value ="seaFoodSteak">Sea Food & Steak</option>
                        {{ else }}
                            <option value ="seaFoodSteak">Sea Food & Steak</option>
                            <option value ="chineseFood">Chinese Food</option>
                            <option value="dessert">Dessert</option>
                        {{/if }}
                    {{/if }}
		        </select>
            </div>
            <button type="submit" class="submit"> SUBMIT </button>  
        </div>
    </form>   
 	</div>
    <div id="status" class="row">
        <div class="column" style="background-color:rgb(226, 226, 226); ">
             <div>
                <h4>Waiting Status</h4>
                <p class="tablesize">Small Table:</p>
                <div  class="row-2">
                    <div class="column-2">
                         <div>
                            <span> Total waiting parties:   
                                <strong id="restaurantUserSmallNumber"> {{smallTotal}} </strong>
                            </span>
                        </div>
                        <div class="content">
                            <p><span> Next Customer:  {{smallCustomer}}</span></p>
                            <p><span> Phone:  {{smallContactInfo}}</span></p>
                        </div>
                        <div class="nextContainer">
                              <button id="restaurantUserSmall" class="next"> next </button>
                        </div>
                    </div>
                    <div class="column-2" style="text-align: center;">
                        <div>
                            <label>Name: </label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Phone: </label>
                            <input type="text">
                        </div>
                    <button id="restaurantUserSmallPlus">Get In Line </button>
                    </div>
                </div>

                <p class="tablesize">Medium Table:</p>
                <div  class="row-2">
                    <div class="column-2">
                         <div>
                            <span> Total waiting parties:   
                                <strong id="restaurantUserMidNumber"> {{midTotal}} </strong>
                            </span>
                        </div>
                        <div class="content">
                            <p><span> Next Customer:  {{midCustomer}}</span></p>
                            <p><span> Phone:  {{midContactInfo}}</span></p>
                        </div>
                        <div class="nextContainer">
                              <button id="restaurantUserMedium"class="next"> next </button>
                        </div>
                        
                    </div>
                    <div class="column-2" style="text-align: center;"> 
                        <div>
                            <label>Name: </label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Phone: </label>
                            <input type="text">
                        </div>
                    <button id="restaurantUserMidPlus">Get In Line </button>
                    </div>
                </div>

                  <p class="tablesize">Large Table:</p>
                <div  class="row-2">
                    <div class="column-2" >
                         <div>
                            <span> Total waiting parties:   
                                <strong id="restaurantUserLargeNumber"> {{largeTotal}} </strong>
                            </span>
                        </div>
                        <div class="content">
                            <p><span> Next Customer:  {{largeCustomer}}</span></p>
                            <p><span> Phone:  {{largeContactInfo}}</span></p>
                        </div>
                         <div class="nextContainer">
                              <button id="restaurantUserLarge" class="next"> next </button>
                        </div>
                    </div>
                    <div class="column-2" style="text-align: center;">
                        <div>
                            <label>Name: </label>
                            <input type="text">
                        </div>
                        <div>
                            <label>Phone: </label>
                            <input type="text">
                        </div>
                    <button id="restaurantUserLargePlus">Get In Line </button>
                    </div>
                </div>

            </div>
        </div>
        <div class="column" style="background-color:rgb(199, 199, 199); margin-left:10px;">
            <h4>Current Reservation </h4>
            <div class="comfirm">
                <button class="complete"> Complete </button>
                <button class="Cancel"> Cancel </button>
            <div>
             <table class="resTableS">
                <tr>
                     <th> </th>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Name</th>
                    <th>Party</th>
                    <th>contact</th>
                   
                </tr>
                {{#each reservation}}
                    <tr>
                        <td class='checkbox'>
                            <input type='checkbox' id='checkbox1' name='checkboox[]'>
                        </td>
                        <td>{{this.resvDate}}</td>
                        <td>{{this.resvTime}}</td>
                        <td>{{this.resvUserName}}</td>
                        <td>{{this.resvPeople}}</td>
                        <td>{{this.resvEmail}}</td>
                    </tr>
                {{/each}}
            </table>
        </div>
    </div>

    <script type="text/javascript" src="../js/restaurantDash.js"></script>